/* SETUP-LOG | 2.0.0 | 201217 | assets/scss/main.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-BE | 1.0.3 | 201016 | assets/scss/partials/base.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/brand-color.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Brand Color
 *
 */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/helpers.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/* SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/base-styles.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-LOG | 2.0.0 | 201217 | setup-be/block-custom/setup-log-200/log.scss
---------------------------------------------------------------------------------------------------- */
.hide {
  display: none;
}

.module.log {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.module.log.shadow {
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.module.log.basic,
.module.log.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.module.log.line {
  border-top: 1px solid #f3f3f3;
}

.module.log.sideline {
  border-left: 1px solid #f3f3f3;
}

.module.log.box {
  border: 1px solid #f3f3f3;
}

.module.log.highlight {
  background-color: #f3f3f3;
}

.module.log.level1 {
  margin-left: 1rem;
}

.module.log.level2 {
  margin-left: 2rem;
}

.module.log .group.bar {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  border-left: 0.5rem solid #eee;
}
.module.log .group.bar .left, .module.log .group.bar .right {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
.module.log.minimal .group.bar {
  display: grid;
  grid-template-columns: auto 1fr;
}
.module.log.bar .group.bar {
  display: grid;
  grid-template-columns: 1fr;
}
.module.log.sideline .group.bar {
  border-left: 7px;
}
.module.log.default .group.bar {
  border-left: 0.5rem solid #eee;
}
.module.log.sideline.default .group.bar {
  border-left: 7px solid #eee;
}
.module.log.active .group.bar {
  border-left: 0.5rem solid #61bd4f;
}
.module.log.sideline.active .group.bar {
  border-left: 7px solid #61bd4f;
}
.module.log.inactive .group.bar {
  border-left: 0.5rem solid #616161;
}
.module.log.sideline.inactive .group.bar {
  border-left: 7px solid #616161;
}
.module.log.urgent .group.bar {
  border-left: 0.5rem solid #FF0000;
}
.module.log.sideline.urgent .group.bar {
  border-left: 7px solid #FF0000;
}
.module.log.important .group.bar {
  border-left: 0.5rem solid #ff7f00;
}
.module.log.sideline.important .group.bar {
  border-left: 7px solid #ff7f00;
}
.module.log.nonurgent .group.bar {
  border-left: 0.5rem solid #f2d600;
}
.module.log.sideline.nonurgent .group.bar {
  border-left: 7px solid #f2d600;
}
.module.log.guide .group.bar {
  border-left: 0.5rem solid #660099;
}
.module.log.sideline.guide .group.bar {
  border-left: 7px solid #660099;
}
.module.log.project .group.bar {
  border-left: 0.5rem solid #0080ff;
}
.module.log.sideline.project .group.bar {
  border-left: 7px solid #0080ff;
}
.module.log.info .group.bar {
  border-left: 0.5rem solid #00ffff;
}
.module.log.sideline.info .group.bar {
  border-left: 7px solid #00ffff;
}
.module.log.highlight .group.bar {
  background-color: #f3f3f3;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.module.log.highlight.default .group.bar, .module.log .module.log.highlight.default .group.bar {
  background-color: #eee;
  color: #fff;
}
.module.log.highlight.active .group.bar, .module.log .module.log.highlight.active .group.bar {
  background-color: #61bd4f;
  color: #fff;
}
.module.log.highlight.inactive .group.bar, .module.log .module.log.highlight.inactive .group.bar {
  background-color: #616161;
  color: #fff;
}
.module.log.highlight.urgent .group.bar, .module.log .module.log.highlight.urgent .group.bar {
  background-color: #FF0000;
  color: #fff;
}
.module.log.highlight.important .group.bar, .module.log .module.log.highlight.important .group.bar {
  background-color: #ff7f00;
  color: #fff;
}
.module.log.highlight.nonurgent .group.bar, .module.log .module.log.highlight.nonurgent .group.bar {
  background-color: #f2d600;
  color: #fff;
}
.module.log.highlight.guide .group.bar, .module.log .module.log.highlight.guide .group.bar {
  background-color: #660099;
  color: #fff;
}
.module.log.highlight.project .group.bar, .module.log .module.log.highlight.project .group.bar {
  background-color: #0080ff;
  color: #fff;
}
.module.log.highlight.info .group.bar, .module.log .module.log.highlight.info .group.bar {
  background-color: #00ffff;
  color: #fff;
}
.module.log.basic .group.bar, .module.log.nobgcolor .group.bar {
  background-color: transparent;
}

.module.log.focus-summary .group.summary {
  font-size: 0.875rem;
  background-color: #999;
  color: #eee;
  padding: 0.25rem 1rem;
}

.module.log.focus-innerblock .group.innerblock {
  padding: 1rem;
  border: 1px solid #eee;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.module.log .group.bar .item.date,
.module.log .group.bar .item.time,
.module.log .group.bar .item.code,
.module.log .group.bar .item.label,
.module.log .group.bar .item.title,
.module.log .group.bar .item.summary,
.module.log .group.bar .item.info,
.module.log .group.bar .item.user,
.module.log .group.bar .item.link {
  font-size: 0.5rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.module.log .group.bar .item.code {
  background-color: #999;
  color: #eee;
  padding: 4px;
  border-radius: 4px;
  line-height: 1;
}
.module.log.highlight.default .item.code, .module.log .module.log.highlight.default .item.code {
  background-color: #fff;
  color: #eee;
}
.module.log.highlight.active .item.code, .module.log .module.log.highlight.active .item.code {
  background-color: #fff;
  color: #61bd4f;
}
.module.log.highlight.inactive .item.code, .module.log .module.log.highlight.inactive .item.code {
  background-color: #fff;
  color: #616161;
}
.module.log.highlight.urgent .item.code, .module.log .module.log.highlight.urgent .item.code {
  background-color: #fff;
  color: #FF0000;
}
.module.log.highlight.important .item.code, .module.log .module.log.highlight.important .item.code {
  background-color: #fff;
  color: #ff7f00;
}
.module.log.highlight.nonurgent .item.code, .module.log .module.log.highlight.nonurgent .item.code {
  background-color: #fff;
  color: #f2d600;
}
.module.log.highlight.guide .item.code, .module.log .module.log.highlight.guide .item.code {
  background-color: #fff;
  color: #660099;
}
.module.log.highlight.project .item.code, .module.log .module.log.highlight.project .item.code {
  background-color: #fff;
  color: #0080ff;
}
.module.log.highlight.info .item.code, .module.log .module.log.highlight.info .item.code {
  background-color: #fff;
  color: #00ffff;
}

.module.log .group.bar .item.expand {
  font-size: 0.5rem;
  font-weight: 700;
  background-color: #e3e3e3;
  color: #999;
  padding: 2px;
  border-radius: 2px;
  line-height: 1;
  min-width: 14px;
  text-align: center;
}
.module.log.minimal .group.bar .item.expand {
  font-weight: 500;
  padding: 4px;
  border-radius: 4px;
  line-height: 1;
  min-width: 14px;
  width: auto;
}

.module.log .group.bar a.item.expand {
  text-decoration: none;
}

.module.log .group.bar a.item.expand:hover {
  background-color: #999;
  color: #e3e3e3;
  cursor: pointer;
}

.module.log .group.bar .item.date,
.module.log .group.bar .item.time,
.module.log .group.bar .item.user,
.module.log .group.bar .item.link {
  padding: 4px;
  border-radius: 4px;
  line-height: 1;
}

.module.log .group.bar .item.label,
.module.log .group.bar .item.title,
.module.log .group.bar .item.summary,
.module.log .group.bar .item.info {
  font-size: 0.875rem;
}

.module.log.heading.heading-small .item.label {
  font-size: 1.125rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .module.log.heading.heading-small .item.label {
    font-size: 1.25rem;
  }
}
.module.log.heading .item.label {
  font-size: 1.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .module.log.heading .item.label {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) {
  .module.log.heading .item.label {
    font-size: 1.5rem;
  }
}
.module.log.heading.heading-large .item.label {
  font-size: 1.5rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .module.log.heading.heading-large .item.label {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .module.log.heading.heading-large .item.label {
    font-size: 2.25rem;
  }
}
.module.log.heading.heading-huge .item.label {
  font-size: 2.25rem;
  font-weight: 700;
}
@media (min-width: 768px) {
  .module.log.heading.heading-huge .item.label {
    font-size: 2.625rem;
  }
}
@media (min-width: 992px) {
  .module.log.heading.heading-huge .item.label {
    font-size: 3rem;
  }
}

.module.log.heading .item.title, .module.log.heading.focus-summary .item.title {
  font-size: 1.125rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .module.log.heading .item.title, .module.log.heading.focus-summary .item.title {
    font-size: 1.25rem;
  }
}

/* SETUP-LOG | 2.0.0 | 201217 | setup-be/block-custom/setup-log-200/stack.scss
---------------------------------------------------------------------------------------------------- */
.module.log.stack {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.module.log.stack.margin-zero-top {
  margin-top: 0;
}
.module.log.stack.margin-zero-bottom {
  margin-bottom: 0;
}
.module.log.stack.size-huge .group.info {
  font-size: 2.25rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .module.log.stack.size-huge .group.info {
    font-size: 2.625rem;
  }
}
@media (min-width: 992px) {
  .module.log.stack.size-huge .group.info {
    font-size: 3rem;
  }
}
.module.log.stack.size-large .group.info {
  font-size: 1.5rem;
  line-height: 1.125;
}
@media (min-width: 768px) {
  .module.log.stack.size-large .group.info {
    font-size: 1.875rem;
  }
}
@media (min-width: 992px) {
  .module.log.stack.size-large .group.info {
    font-size: 2.25rem;
  }
}
.module.log.stack.size-medium .group.info {
  font-size: 1.25rem;
  line-height: 1.25;
}
@media (min-width: 768px) {
  .module.log.stack.size-medium .group.info {
    font-size: 1.375rem;
  }
}
@media (min-width: 992px) {
  .module.log.stack.size-medium .group.info {
    font-size: 1.5rem;
  }
}

.group.info {
  font-size: 1rem;
}
@media (min-width: 768px) {
  .group.info {
    font-size: 1.125rem;
  }
}

.group.spec {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.75rem;
}
.group.spec .item {
  margin-right: 0.5rem;
}

.group.innerblock {
  margin-top: 0.5rem;
}

.item.title {
  font-weight: 700;
}

.item.expand {
  display: inline-block;
  font-size: 0.5rem;
  font-weight: 500;
  line-height: 1;
}
.item.expand a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  background-color: #eee;
  color: #666;
  padding: 4px;
  border-radius: 4px;
}
.item.expand a:hover {
  text-decoration: none;
  color: #eee;
  background-color: #999;
}
