/* SETUP-LOG | 1.0.6 | 201012 | assets/scss/main.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-BE | 1.0.3 | 201012 | assets/scss/partials/base.scss
---------------------------------------------------------------------------------------------------- */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/brand-color.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Brand Color
 *
 */
/*  SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/helpers.scss
---------------------------------------------------------------------------------------------------- */
/**
 * Button Reset
 *
 */
/**
 * Grid, Center Last
 *
 */
/**
 * Margin, No Edge
 * Removes left margin from first item, right margin from last item
 */
/**
 * Icon Position
 *
 */
/**
 * Block Cover
 * Creates a block that covers the full width/height of parent div. Typically used on a :before pseudo element
 */
/**
 * Placeholder Color
 *
 */
/**
 * Clearfix
 *
 */
/**
 * Font Sizes
 *
**/
/**
 * Columns
 *
 */
/**
 * Columns, Mobile
 *
 */
/**
 * Columns, Tablet
 *
 */
/**
 * Columns, Tablet Up
 *
 */
/**
 * Columns, Desktop
 *
 */
/* SETUP-BE | 1.0.0 | 200408 | setup-be/modules/setup-be-100/base-styles.scss
---------------------------------------------------------------------------------------------------- */
/* SETUP-LOG | 1.0.6 | 200917 | setup-be/block-custom/setup-log-106/log.scss
---------------------------------------------------------------------------------------------------- */
.module.log.log-box {
  padding: 1rem;
  -webkit-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.15);
}

.module.log.log-prefix {
  padding-top: 1rem;
  -webkit-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 -8px 6px -6px rgba(0, 0, 0, 0.25);
}

/* SETUP-LOG | 1.0.6 | 201012 | setup-be/block-custom/setup-log-106/guidebox-list.scss
---------------------------------------------------------------------------------------------------- */
.module.log.guidebox-list {
  margin-bottom: 0.25rem;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.group.line {
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: #f3f3f3;
  padding-left: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-left: 0.5rem solid #eee;
}
.module.log.guidebox-list.active .group.line {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #61bd4f;
}
.module.log.guidebox-list.inactive .group.line {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #616161;
}
.module.log.guidebox-list.urgent .group.line {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #FF0000;
}
.module.log.guidebox-list.important .group.line {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #ff7f00;
}
.module.log.guidebox-list.nonurgent .group.line {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #f2d600;
}
.group.line .left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.group.line .right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.group.line .item.code,
.group.line .item.date,
.group.line .item.label,
.group.line .item.user,
.group.line .item.expand {
  font-size: 0.875rem;
  font-weight: 500;
  margin-right: 0.5rem;
}

.group.line .item.code {
  padding: 4px;
  border-radius: 4px;
  line-height: 1;
  font-size: 0.5rem;
  background-color: #999;
  color: #eee;
}

.group.line .item.date {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1;
  font-size: 0.5rem;
}

.group.line .item.user {
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 1;
  font-size: 0.5rem;
}

.group.line .item.expand {
  padding: 4px;
  border-radius: 4px;
  line-height: 1;
  font-size: 0.5rem;
  background-color: #fff;
  color: #666;
}

.group.line a.item.expand {
  text-decoration: none;
}

.group.line a.item.expand:hover {
  background-color: #666;
  color: #fff;
  cursor: pointer;
}

.module.log.guidebox-list .group.info {
  padding: 1rem;
}

.group.info .item.title,
.group.info .item.summary,
.group.info .item.info {
  font-size: 0.875rem;
}

.module.log.guidebox-list .item.title {
  font-weight: 500;
}

.hidden {
  display:none;
}